DB_NAME="postgres"
DB_USER=""
DB_PWD=""
DB_HOST="aws-0-eu-central-1.pooler.supabase.com"
DB_PORT="6543"



#REPLICATE 
REPLICATE_API_TOKEN=""

# BASE URL WITH TRAILING SLASH
BASE_URL="http://localhost:5173/"
#SITE_URL="https://railwail.com/" 

RESEND_API_KEY=""

# SUPABASE 

SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_ANON_KEY=""
SUPABASE_URL=""